body {
	font-family: sans-serif;
}
#pgtitle {
	text-align: center;
	margin: auto;
	font-size: 150%;
	font-weight: bold;
}
#luckySevens {
	margin:auto;
	text-align: center;
}
#displayResults {
	margin: auto;
	text-align: center;
	background-color: #F8F9F9;
	display: table;
	padding-left: 20px;
	padding-right: 20px;
}
#displayResults h3 {
	text-decoration: underline;
}
table, th, td {
	border: 1px solid white;
	margin: auto;
}
#results {
	border-collapse: collapse;
	padding-bottom: 30px;
}
#results tr:first-child td {
	background-color: #A6ACAF;
}
button {
	margin-bottom: 30px;
}
