@font-face {
	font-family: "Quicksand";
	src:url(Quicksand-regular.otf);
}


#footer {
	border-top: 1pt solid black;
	background: #EB984E;
	color: #044A00;
	margin: auto;
}
#bar {
	border-bottom:1pt solid black;
	background: #EB984E;
}
#header {
	border-bottom:1pt solid black;
	color: #044A00;
	margin: auto;
	font-family: "Quicksand";
}
#header h2 {
	text-align: center;
}
#content {
	padding-bottom:20px;
	padding-top:20px;
	margin: auto;
	background-color: #AED6F1;
}
body {
	background: #F5CBA7;
	font-family: sans-serif;
}
a:link {
	font-weight: normal;
	color: #044A00
}
a:visited {
	font-weight: normal;
	color: #6B78B4;
}
a:hover{
	font-weight: bold;
	text-decoration: underline;
}
a:active {
	font-weight: normal;
	text-decoration: none;
}
.item img {
	margin: auto;
	height: 340px;
	max-height:340px;
}
.carousel-caption h3 {
	text-shadow: 2px 2px black;
}


