@font-face {
	font-family: "ChunkFive";
	font-style: normal;
	font-weight: normal;
	src: url("Chunkfive.otf");
}
blockquote {
	background: #A9F5F2;
}
.firstrow {
	background: #D8D8D8;
}
.firstrow th {
	text-align: center;
}
.atbl td {
	border: 1pt solid black;
}
.atbl th {
	border: 1pt solid black;
}
.atbl {
	background-color: cyan;
}
table {
	border-collapse: collapse;
}
img {
	padding:1px;
	border:1px solid #021a40;
}
.atitle {
	font-family: "Chunkfive";
}
#bmp {
	font-family: "Chunkfive";
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	background-color: lightgreen;
}
a:active {
	text-decoration: none;
}